<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SwiftBite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignupServlet</display-name>
    <servlet-name>SignupServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.SignupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupServlet</servlet-name>
    <url-pattern>/SignupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDashboardServlet</display-name>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.CustomerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDashboardServlet</servlet-name>
    <url-pattern>/CustomerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToCartServlet</display-name>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.AddToCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/AddToCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerDashboardServlet</display-name>
    <servlet-name>ManagerDashboardServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.ManagerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerDashboardServlet</servlet-name>
    <url-pattern>/ManagerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageFoodServlet</display-name>
    <servlet-name>ManageFoodServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.ManageFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageFoodServlet</servlet-name>
    <url-pattern>/ManageFoodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportsServlet</display-name>
    <servlet-name>ReportsServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.ReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportsServlet</servlet-name>
    <url-pattern>/ReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingServlet</display-name>
    <servlet-name>RatingServlet</servlet-name>
    <servlet-class>com.swiftbite.servlets.RatingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingServlet</servlet-name>
    <url-pattern>/RatingServlet</url-pattern>
  </servlet-mapping>
</web-app>